@import "../src/assets/css/Header.css";
@import "../src/assets/css/Home.css";
@import "../src/assets/css/VerticalNav.css";
@import "../src/assets/css/Welcome.css";
@import "../src/assets/css/Indicator.css";
@import "../src/assets/css/Score.css";
@import "../src/assets/css/Performance.css";
@import "../src/assets/css/Averagesession.css";
@import "../src/assets/css/DailyActivity.css";
@import "../src/assets/css/VerticalNav.css";
@import "../src/assets/css/error.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #020203;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}